.bg-primary-1{
    background-color: #C7CFD9;
}
.bg-primary-2{
    background-color: #C7CFD9;
}
.theme-color-1{
    color: #F20530;
}
.carousel-crop{
    object-fit: none;
    object-position: center;
    max-height: 86vh;
}
.font-grotesque{
    font-family: 'Darker Grotesque', sans-serif;
}
.margin-bottom-25{
    margin-bottom: 25%;
}
.custom-button-1{
    background-color: transparent;
    border-radius: 5px;
    transition-duration: 0.5s;
    border-style: solid;
    border-color: white;
}
.custom-button-1:hover{
    background-color: rgb(255, 255, 255);
    color: black;
}
.custom-button-1:active, .custom-button-1:focus{
    outline: 0;
}